.tab {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab button:hover {
    box-shadow: 0 2px 0 0px white;
}

.tab button.active {
    box-shadow: 0 2px 0 0px white;
}

.tab-content {
    margin-bottom: 8px;
    display: none;
}

.tab-content.active {
    display: block;
}